{% extends "base.html" %}
{% load static %}

{% block title %}Cerrando Sesión...{% endblock %}

{% block login-container %}
 <div class="container-logout">
        <div class="loading-box">
            <div class="icono-logout">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <div class="spinner"></div>
            <p>Cerrando sesión...</p>
        </div>
    </div>


<!-- 
 <p>Puedes iniciar sesion de nuevo desde  <a href="{% url 'login' %}">aqui</a></p>
 -->
{% endblock %}

{% block extra_js %}
<script>
    const loginUrl = "{% url 'usuario:login' %}";  // Esta línea es importante
</script>
<script src="{% static 'account/js/cerrar_sesion.js' %}"></script>
{% endblock %}


{% block content %}
    <!-- No Ocupar-->
{% endblock %}

    